th.im {
 border: 0px black solid;
}
td.im {
 border: 1px gray  solid;
 background: white;
}
td.im:hover {
 border: 2px black solid;
}

path {
	stroke: black;
	stroke-width: 2;
	fill: none;
}
line {
	stroke: black;
	stroke-width:2;
	fill:black;
}
