html {
  min-width: 1040px;
}

.bdqc body {
  background: #fcfcfa;
  color: #333;
  font-family: "PT Serif", serif;
  margin: 1em auto 4em auto;
  position: relative;
  width: 720px;
}

.bdqc header,
.bdqc footer,
.bdqc aside,
.bdqc h1,
.bdqc h2,
.bdqc h3,
.bdqc h4 {
  font-family: "PT Sans", sans-serif;
}

h1 {
  font-size: 32px;
  font-weight: 500;
  letter-spacing: -2px;
  margin: .3em 0 .1em 0;
}

header,
footer {
  font-size: small;
}

.bdqc header aside,
.bdqc footer aside {
  float: left;
  margin-right: .5em;
}

.bdqc header aside:after,
.bdqc footer aside:after {
  padding-left: .5em;
  content: "-";
}

footer {
  margin-top: 8em;
}

h1 ~ aside {
  font-size: small;
  right: 0;
  position: absolute;
  width: 180px;
}

a {
  color: slateblue;
}

/* Prelude the underlines on hyperlinks. */
a:not(:hover) {
  text-decoration: none;
}

svg {
  font: 12px sans-serif;
}

.background { fill: #eee; }
line { stroke: #fff; }

/* Marks column labels when clicked to establish visual connection
 * between column and the density plot. */
text.active { fill: orange; }

/* Highlights row and column labels during hover over cell as cue to
 * what a click will affect. */
text.hover  { text-decoration:underline;}
